* {    
    margin: 0;
    padding: 0;
}

body {    
    font-family: cursive;  
    background-color: rgb(43, 44, 44);  
}

.header {        
    color: white;    
    margin: auto;   
    min-width: 580px; 
}

<<<<<<< HEAD
.header img{     
    margin-left: 450px;    
}

.header h1 {  
    font-weight: bold;
    text-align: center;
}

.bio {      
    background-color: rgb(59, 55, 55);
}

.bio h2 {
    text-align: center;
    font-weight: bold;
    padding: 0px 5px 10px 5px;
}

.bio p {
    font-weight: 600;
    text-align: center;
    padding: 0 5px 15px 5px;
=======
.header img {
    border: 2px solid gray;
    margin: 20px 5px;
    border-radius: 100%;    
}

.header a {
    text-decoration: none;
    color: white;
}

.header a:hover {
    color: gray;
}

.header ul {
    display: inline;
    float: right;
    padding-top: 100px;
    margin-right: 60px;      
}

.header li {
    display: inline-block;
    font-size: 15px;
    padding-right: 10px;
    font-weight: 600;    
}

.header h1 {
    padding: 0 0 10px 7px;
}

.header h2 {
    padding: 20px 0 10px 7px;
}

.header p {
    padding: 0 0 20px 7px;
    font-weight: 400;
    font-style: italic;
    font-size: 17px;
>>>>>>> modifica
}

.habil {
    
    color: white;           
}

.habil h3{
padding-left: 7px;
}

.habil ol {
    list-style: none;  
    padding-left: 7px;  
    padding-bottom: 20px;
}

.habil li {
    padding-top: 6px;
}

.adrenaline a{
    opacity: 0.3;    
}

.adrenaline a:hover {
    opacity: 1;
}
