* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(0, 0, 0);
    color: rgb(226, 215, 215);
    font-family: cursive;    
}

.header, .bio, .habil {
    width: 80%;
    margin: auto;
    padding-top: 10px;
    background-color: rgb(49, 45, 45);
}

.header img{     
    margin-left: 450px;    
}

.header h1 {  
    font-weight: bold;
    text-align: center;
}

.bio {      
    background-color: rgb(59, 55, 55);
}

.bio h2 {
    text-align: center;
    font-weight: bold;
    padding: 0px 5px 10px 5px;
}

.bio p {
    font-weight: 600;
    text-align: center;
    padding: 0 5px 15px 5px;
}

.habil {
    background-color: rgb(65, 63, 63);      
}

.habil h3 {
    text-align: center;
    font-weight: bold;
    padding: 10px 5px;  
}

.habil ol {
    text-align: center;
    padding-bottom: 10px;
}

.habil li {    
    display: block  
}
